{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="section-wrapper">
    <!-- ========== Preloader start ========== -->
    <div id="preLoader"></div>
    <!-- ========== Preloader end ========== -->

    {% include 'header.html' %}

    <!-- ========== All blogs hero start ========== -->
    <section
            id="all-blogs"
            class="all-blogs hero__padding overflow-hidden position-relative bg-one"
    >
        <div class="container">
            <div class="row">
                <div class="blog-title">
                    <h1
                            class="display-3"
                            data-aos="fade-up"
                            data-aos-duration="1000"
                            data-aos-delay="600"
                    >
                        Unlock Your Inner Author With iPatchWork Editions Writing Blog
                    </h1>
                    <ul>
                        <li
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="650"
                        >
                            <br> Unlock Your Potential as a Writer: Explore the World of Book Design, Genre, Editing,
                            Publishing, and Marketing with iPatchWork Editions!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== All blogs hero end ========== -->
    <!-- ========== Blog Grid section start ========== -->
    <section id="blog" class="section-padding blog">
        <div class="container">
            <div class="row">
                <div
                        class="col-md-6 col-lg-4 mb-4"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="200"
                >
                    <article class="blog__single-post">
                        <div class="blog__single-post__image">
                            <a href="{% url 'single-blog' %}">
                                <img
                                        class="img-fluid"
                                        src="{% static 'assets/images/blog/blog_01.jpg' %}"
                                        alt="Blog 01"
                                />
                            </a>
                        </div>
                        <div class="blog__single-post__body">
                            <div class="blog__single-post__content">
                                <h2 class="fs-4">
                                    <a href="{% url 'single-blog' %}"
                                    >Navigating the World of Startup Authors: A Journey of Creativity and Resilience</a
                                    >
                                </h2>
                                <p class="m-0">
                                    Dive into the world of startup authors, exploring their unique challenges, triumphs, and the creative resilience that drives them forward.
                                </p>
                            </div>
                            <div class="blog__single-post__meta">
                                <div>
                                    <i class="icofont-calendar"></i
                                    ><a href="#">May 22, 2022</a>
                                </div>
                                <div>
                                    <i class="icofont-speech-comments"></i>
                                    <a href="#">Comment(05)</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div
                        class="col-md-6 col-lg-4 mb-4"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                >
                    <article class="blog__single-post">
                        <div class="blog__single-post__image">
                            <a href="{% url 'single-blog1' %}">
                                <img
                                        class="img-fluid"
                                        src="{% static 'assets/images/blog/blog_01.jpg' %}"
                                        alt="Blog 01"
                                />
                            </a>
                        </div>
                        <div class="blog__single-post__body">
                            <div class="blog__single-post__content">
                                <h2 class="fs-4">
                                    <a href="{% url 'single-blog1' %}"
                                    >Empowering Voices: The Rise of Indie Authors</a
                                    >
                                </h2>
                                <p class="m-0">
                                    Discover how indie authors are making their mark in the literary world, breaking traditional barriers and empowering their voices.
                                </p>
                            </div>
                            <div class="blog__single-post__meta">
                                <div>
                                    <i class="icofont-calendar"></i
                                    ><a href="#">May 22, 2022</a>
                                </div>
                                <div>
                                    <i class="icofont-speech-comments"></i>
                                    <a href="#">Comment(05)</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div
                        class="col-md-6 col-lg-4 mb-4"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="400"
                >
                    <article class="blog__single-post">
                        <div class="blog__single-post__image">
                            <a href="{% url 'single-blog2' %}">
                                <img
                                        class="img-fluid"
                                        src="{% static 'assets/images/blog/blog_02.jpg' %}"
                                        alt="Blog 02"
                                />
                            </a>
                        </div>
                        <div class="blog__single-post__body">
                            <div class="blog__single-post__content">
                                <h2 class="fs-4">
                                    <a href="{% url 'single-blog2' %}"
                                    >Crafting a Legacy: Entrepreneurs Who Strive for More Than Success</a
                                    >
                                </h2>
                                <p class="m-0">
                                    Learn how entrepreneurs can go beyond mere success to craft a lasting legacy through their ventures and contributions.
                                </p>
                            </div>
                            <div class="blog__single-post__meta">
                                <div>
                                    <i class="icofont-calendar"></i
                                    ><a href="#">May 22, 2022</a>
                                </div>
                                <div>
                                    <i class="icofont-speech-comments"></i>
                                    <a href="#">Comment(05)</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div
                        class="col-md-6 col-lg-4 mb-4"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="500"
                >
                    <article class="blog__single-post">
                        <div class="blog__single-post__image">
                            <a href="{% url 'single-blog3' %}">
                                <img
                                        class="img-fluid"
                                        src="{% static 'assets/images/blog/blog_02.jpg' %}"
                                        alt="Blog 02"
                                />
                            </a>
                        </div>
                        <div class="blog__single-post__body">
                            <div class="blog__single-post__content">
                                <h2 class="fs-4">
                                    <a href="{% url 'single-blog3' %}"
                                    >The Best Time to Start Creating Your Story is Now</a
                                    >
                                </h2>
                                <p class="m-0">
                                    Explore why there’s no better time than the present to start writing your story and how to overcome common obstacles.
                                </p>
                            </div>
                            <div class="blog__single-post__meta">
                                <div>
                                    <i class="icofont-calendar"></i
                                    ><a href="#">May 22, 2022</a>
                                </div>
                                <div>
                                    <i class="icofont-speech-comments"></i>
                                    <a href="#">Comment(05)</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div
                        class="col-md-6 col-lg-4 mb-4"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="600"
                >
                    <article class="blog__single-post">
                        <div class="blog__single-post__image">
                            <a href="{% url 'single-blog4' %}">
                                <img
                                        class="img-fluid"
                                        src="{% static 'assets/images/blog/blog_03.jpg' %}"
                                        alt="Blog 03"
                                />
                            </a>
                        </div>
                        <div class="blog__single-post__body">
                            <div class="blog__single-post__content">
                                <h2 class="fs-4">
                                    <a href="{% url 'single-blog4' %}"
                                    >How New Authors Can Utilize Ghostwriting for Your Business</a
                                    >
                                </h2>
                                <p class="m-0">
                                    Learn how ghostwriting can be a valuable resource for new authors looking to publish high-quality content without the time commitment.
                                </p>
                            </div>
                            <div class="blog__single-post__meta">
                                <div>
                                    <i class="icofont-calendar"></i
                                    ><a href="#">May 22, 2022</a>
                                </div>
                                <div>
                                    <i class="icofont-speech-comments"></i>
                                    <a href="#">Comment(05)</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div
                        class="col-md-6 col-lg-4 mb-4"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="700"
                >
                    <article class="blog__single-post">
                        <div class="blog__single-post__image">
                            <a href="{% url 'single-blog5' %}">
                                <img
                                        class="img-fluid"
                                        src="{% static 'assets/images/blog/blog_03.jpg' %}"
                                        alt="Blog 03"
                                />
                            </a>
                        </div>
                        <div class="blog__single-post__body">
                            <div class="blog__single-post__content">
                                <h2 class="fs-4">
                                    <a href="{% url 'single-blog5' %}"
                                    >Marketing a Book: Dos and Don'ts for New Authors</a
                                    >
                                </h2>
                                <p class="m-0">
                                    Discover the essential dos and don'ts of marketing your book effectively as a new author.
                                </p>
                            </div>
                            <div class="blog__single-post__meta">
                                <div>
                                    <i class="icofont-calendar"></i
                                    ><a href="#">May 22, 2022</a>
                                </div>
                                <div>
                                    <i class="icofont-speech-comments"></i>
                                    <a href="#">Comment(05)</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="blog__pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- ========== Blog Grid section end ========== -->
    {% include 'footer.html' %}
</div>

{% endblock %}
