{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>iPatchWork Publication | Premier Book Writing Services</title>
    <meta name="description" content="iPatchWork Publication offers top-tier book writing services. Our expert team ensures your book becomes a bestseller. Get in touch with us today!">
    <meta name="keywords" content="publishing company, authors, readers, book publishing, Patchwork Editions">
</head>
<style>


   

/* Add your existing CSS styles here */
 

 

</style>


 

<div class="section-wrapper">
    <!-- Tmb loader end -->
    <div id="preLoader"></div>
    <!-- Tmb loader end -->

    {% include 'header.html' %}
    {% include 'modal.html' %}


    <!-- ========== Hero section start ========== -->
    <section
            id="hero"
            class="hero hero__padding overflow-hidden position-relative bg-one"
    >
        <div class="circle x1"></div>
        <div class="circle x2"></div>
        <div class="circle x3"></div>
        <div class="circle x4"></div>
        <div class="circle x5"></div>
        <div class="container">
            <div class="row gx-5 align-items-left">
                <div class="col-md-7 mb-4 mb-md-0 p-2" data-aos="zoom-in-up" data-aos-duration="1000"
                     data-aos-delay="850">
                    <div class="hero__content position-relative">
                        <h1  class="display-4 mb-4  text-center" style="font-size: 50px; font-family: 'Playfair Display', serif; margin-top: 5px; margin-bottom: 10px;">
                            ACTION-PACKED, ENTERTAINING, AND FUN-FILLED COMICS TO KEEP YOUR READERS ADDICTED!
                        </h1>
                        <p class="text-muted mb-5 fs-5" style="font-size: 5px;">
                            It's about time you made your debut in the comic industry with a bang. And what better way
                            to start something than with the help of experienced professionals who have a track record
                            of writing some of the best comics of our time?
                        </p>
                    </div>


                    <!--
                    <div class="row">
                        <div class="col-3">
                            <img src="{% static 'assets/images/goodfirms.png' %}" class="img-fluid" alt="GoodFirms">
                        </div>
                        <div class="col-3">
                            <img src="{% static 'assets/images/clutch.png' %}" class="img-fluid" alt="Clutch">
                        </div>
                        <div class="col-3">
                            <img src="{% static 'assets/images/pilot.png' %}" class="img-fluid" alt="Pilot">
                        </div>
                    </div>
                    -->
                    <div class="button-container text-center justify-content-center">
                        <button type="button" class="chat-now" onclick="openChatBox(event)"
                            style="margin-top: 30px;">CHAT NOW</button>
                            <button type="button" class="get-a-quote" data-bs-toggle="modal"
                            data-bs-target="#getAQuoteModal" style="margin-top: 30px;" onclick="openModal()">CONTACT US</button>
                        <button type="button" class="get-a-quote" data-bs-toggle="modal"
                        data-bs-target="#getAQuoteModal" style="margin-top: 30px;" onclick="openModal()">GET A QUOTE</button>
                    </div>
                </div>
                <div class="col-md-5 text-center form-container-unique" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="850">
                    <div class="form-wrapper-unique" style="padding-right: 20px;">
                        <h2 class="form-heading-unique">Take Control of Your Writing Journey</h2>
                        <p>Fill out the form now to consult our book experts.</p>
                        <form id="contact-form" method="post" action="#">
                            <div class="form-group-unique">
                                <input type="text" class="form-control-unique" id="name" name="name_1"
                                       placeholder="Name" required>
                            </div>
                            <div class="form-group-unique">
                                <input type="email" class="form-control-unique" id="email" name="email"
                                       placeholder="Email Address" required>
                            </div>
                            <div class="form-group-unique">
                                <input type="tel" class="form-control-unique" id="phone" name="phone_1"
                                       placeholder="Phone Number" required>
                            </div>
                            <div class="form-group-unique">
                                <textarea class="form-control-unique" id="project-details" name="project_details_1"
                                          rows="3" placeholder="Project Details" required></textarea>
                            </div>
                            <button type="submit" class="btn-form-primary-unique">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>

            </div>

    </section>
    <!-- ========== Hero section end ========== -->

    <!-- Banner Logo Start -->

     <section class="banner-logo-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container banner-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner1.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner2.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner3.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner4.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner5.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner6.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>

        <div class="container">
            <div class="rectangle bg-white" data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="150">
                <form>
                    <div class="form-row align-items-center">
                        <div class="col">
                            <input type="text" class="form-control form-control-lg" id="name" placeholder="Name">
                        </div>
                        <div class="col">
                            <input type="email" class="form-control form-control-lg" id="email" placeholder="Email">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-lg" id="number" placeholder="Number">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-lg">Let's Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>


    <!-- ========== Author section start ========== -->
    <section id="author" class="section-padding authorv3 bg-one">
        <div class="container">
            <div class="row">
                <div
                        class="col-lg-6"
                        data-aos="fade-right"
                        data-aos-duration="1000"
                        data-aos-delay="200"
                >
                    <div class="author-image">
                        <img
                                class="img-fluid"
                                src="{% static 'assets/images/author5.png' %}"
                                alt="i-patchwork-publication author"
                        />
                    </div>
                </div>
                <div
                        class="col-lg-6"
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        data-aos-delay="200"
                >
                    <div class="authorv3__content">
                        <div class="authorv3__content--badge">The Author</div>
                        <h3 class="display-5 mb-0"> "Got ideas? Let our book wizards at iPatchwork Éditions work their magic and
                            bring them to life in style!" </h3>
                        <p class="m-30px-b text-muted fs-5"></p>
                        <p class="m-30px-b">
                            Why choose iPatchwork Éditions for your book? Here's why:

                            We dive deep, conducting meticulous research and interviews to craft your book's outline.
                            Taking inspiration from the greats, we infuse timeless styles into our work.

                            We map out chapters based on your vision, offering unlimited revisions to capture your
                            unique voice. Plus, we're more than just writers – we handle editing, marketing, and
                            publishing, ensuring your manuscript shines.

                            With 24/7 availability, let's turn your idea into a masterpiece. Don't hesitate – reach out
                            now!
                        </p>


                        <div class="button-container">
                            <a href="#" class="get-started-btn" style="margin-bottom: 20px;">Get Started</a>
                            <a href="#" class="live-chat-btn" style="margin-bottom: 20px;">Live Chat</a>
                        </div>


                        <ul class="social-icon mt-0 mb-0">
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-youtube-play"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-whatsapp"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== Author v3 section end ========== -->

    <!-- ========== Benefits v3 section start ========== -->
<section class="flip-boxx">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-10 offset-lg-1">
                <div class="section-title-center text-center">

                    <h2
                            class="display-6"
                            data-aos="zoom-in-up"
                            data-aos-duration="1000"
                            data-aos-delay="200"
                    >
                        LEARN ABOUT OUR SIMPLE BOOK WRITING PROCESS BELOW
                    </h2>
                    <div
                            class="section-divider divider-traingle"
                            data-aos="fade-up"
                            data-aos-duration="1000"
                            data-aos-delay="300"
                    ></div>
                </div>
            </div>
        </div>

         {% include 'flipbox.html' %}
        

        <!-- ========== Chapter section start ========== -->
        {% include 'extend/service.html' %}
        <!-- ========== Chapter section end ========== -->
<section class="section-padding ctav5">
            <div class="container">
                <div class="row">
                    <div class="ctav5__content">
                        <h2
                            class="display-3"
                            data-aos="fade-up"
                            data-aos-duration="1000"
                            data-aos-delay="150"
                            style="text-align: left;"
                        >
                            WHY HIRE THE BEST BOOK PROMOTION EXPERTS?
                        </h2>
                        <p
                            class="fs-5"
                            data-aos="fade-up"
                            data-aos-duration="1000"
                            data-aos-delay="450"
                            style="text-align: left;"
                        >
                            Our book promoters and marketers can promote a book of any genre and ensure the author
                            reaches their target audience effectively. Hire our experts today and get a chance to improve your book sales online and in bookstores! <br/>
                        </p>
                        <div class="button-container text-left">
                            <button type="button" class="chat-now" onclick="openChatBox(event)" style="margin-top: 30px;">CHAT NOW</button>
                            <button type="button" class="get-a-quote" data-bs-toggle="modal" data-bs-target="#getAQuoteModal" style="margin-top: 30px;" onclick="openModal()">CONTACT US</button>
                            <a class="get-a-quote pulsate" style="margin-top: 30px;" href="https://square.link/u/09XUbvAg?src=embed" data-url="https://square.link/u/09XUbvAg?src=embed">SIGN UP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'extend/ourbestwork.html' %}
        <!-- ========== Chapter preview section end ========== -->

        <!-- Banner Logo Start -->
             <section class="banner-logo-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container banner-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner1.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner2.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner3.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner4.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner5.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner6.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- ========== CTA section start ========== -->
        <section class="cta section-padding" id="cta">
            <div class="container">
                <div class="row justify-content-center cta__inner bg-one">
                    <div class="col-lg-8">
                        <div class="section-title-center mb-0 text-center">
                <span
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="150"
                >SUBSCRIBE NOW</span
                >
                            <h2
                                    class="display-6"
                                    data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="200"
                            >
                                HAVE AN IDEA THAT’S
                                WORTH SHARING?

                        </div>

                        Our book writing company will ensure your story leaves
                        the world completely spellbound.

                        <div>
                        </div>
                        <div class="cta-form-box">
                            <!-- subscription form start -->
                            <form action="{% static 'assets/subscribe/subscribe.php' %}" id="subscribe">
                                <div
                                        class="mb13"
                                        data-aos="fade-up"
                                        data-aos-duration="1000"
                                        data-aos-delay="250"
                                >
                                    <input
                                            class="cta-email"
                                            type="email"
                                            name="email"
                                            placeholder="Your Email"
                                            id="subscriber-email"
                                    />
                                </div>
                                <button
                                        class="w-100 button button__primary align-items-center"
                                        id="subscribe-button"
                                        data-aos="fade-up"
                                        data-aos-duration="1000"
                                        data-aos-delay="300"
                                >
                    <span
                    >Subscribe Now <i class="icofont-arrow-right"></i
                    ></span>
                                </button>
                                <div class="result">
                                    <p
                                            class="success-msg"
                                            data-aos="fade-up"
                                            data-aos-duration="1000"
                                            data-aos-delay="350"
                                    >
                                        <i class="icofont-check"></i> Your email has been stored!
                                    </p>
                                    <p
                                            class="error-msg"
                                            data-aos="fade-up"
                                            data-aos-duration="1000"
                                            data-aos-delay="400"
                                    >
                                        <i class="icofont-close"></i> Sorry! Something went wrong!
                                    </p>
                                </div>
                            </form>


                            <!-- Mailchimp subscription form -->
                            <!-- <form
                              action="#"
                              id="subscribe-mailchimp"
                              data-wow-duration="1.5s"
                            >
                              <div class="mb13" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250">
                                <input
                                  class="cta-email"
                                  type="email"
                                  name="email"
                                  placeholder="Your Email"
                                />
                              </div>
                              <button
                                type="submit"
                                class="w-100 button button__primary align-items-center"
                                 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300"
                              >
                                <span>Subscribe Now <i class="icofont-arrow-right"></i></span>
                              </button>
                              <div class="result">
                                <p class="success-msg" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="350">
                                  <i class="icofont-check"></i> Your email has been stored!
                                </p>
                                <p class="error-msg" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                  <i class="icofont-close"></i> Sorry! Something went wrong!
                                </p>
                              </div>
                              <p class="mt-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="450">
                                * eBook includes iBooks, PDF &amp; ePub versions
                              </p>
                            </form> -->
                            <!-- subscription form end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Banner Logo Start -->

             <section class="banner-logo-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container banner-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner1.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner2.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner3.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner4.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner5.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-box">
                                    <img src="{% static 'assets/images/banner6.png' %}" class="img-fluid" alt="i-patchwork-publication">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- ========== CTA section end ========== -->


        <!-- ========== CTA v5 section start ========== -->
        <section class="section-padding ctav5">
            <div class="container">
                <div class="row">
                    <div class="ctav5__content">
                        <h2
                                class="display-3"
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="150"
                        >
                            WANT TO BECOME A PUBLISHED AUTHOR?
                        </h2>
                        <ul>
                            <li
                                    data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="200"
                            >
                                <i class="icofont-star"></i>
                            </li>
                            <li
                                    data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="250"
                            >
                                <i class="icofont-star"></i>
                            </li>
                            <li
                                    data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="300"
                            >
                                <i class="icofont-star"></i>
                            </li>
                            <li
                                    data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="350"
                            >
                                <i class="icofont-star"></i>
                            </li>
                            <li
                                    data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="400"
                            >
                                <i class="icofont-star"></i>
                            </li>
                        </ul>
                        <p
                                class="fs-5"
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="450"
                        >
                            Allow our premium book writing services to turn your dream into a reality!
                            Hire book-writing experts now! <br/>

                        </p>

                        <div class="button-container text-center justify-content-center">
                        <button type="button" class="chat-now" onclick="openChatBox(event)"
                            style="margin-top: 30px;">CHAT NOW</button>
                            <button type="button" class="get-a-quote" data-bs-toggle="modal"
                            data-bs-target="#getAQuoteModal" style="margin-top: 30px;" onclick="openModal()">CONTACT US</button>
                        <button type="button" class="get-a-quote" data-bs-toggle="modal"
                        data-bs-target="#getAQuoteModal" style="margin-top: 30px;" onclick="openModal()">GET A QUOTE</button>
                    </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- ========== CTA v5 section end ========== -->
        <!-- ========== Events section end ========== -->
        {% include 'includeevents.html' %}
        <!-- ========== Events section end ========== -->
        <!-- ========== Testimonial section start ========== -->
  {% include 'testimonial.html' %}
        <!-- ========== Testimonial section end ========== -->
        <!-- ========== Blog section start ========== -->
{% include 'includeblog.html' %}
        <!-- ========== Blog section end ========== -->
        <!-- ========== CTA v3 section start ========== -->
        <section id="ctav3" class="ctav3 bg-one section-padding">
            <div class="container bg-one">
                <div class="row">
                    <div class="ctav3__content">
                        <h2
                                class="m-25px-b"
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="150"
                        >
                            Do you have a question? <br/>

                        </h2>
                        <h2
                                class="display-4 m-25px-b"
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="200"
                        >
                            <a href="tel:610383766284"></a>
                        </h2>
                        <a
                                href="#contact"
                                class="smooth button button__primary"
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="250"
                        ><span>Send us a message</span></a
                        >
                        <div class="ctav3__content__icon">
                            <i class="icofont-read-book"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== CTA v3 section end ========== -->
        <!-- ========== Contact section start ========== -->
        <section id="contact" class="p-80px-tb bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 col-lg-10 offset-lg-1">
                        <div class="section-title-center text-center">
                <span
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="150"
                >Contact Us</span
                >
                            <h2
                                    class="display-6"
                                    data-aos="zoom-in-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="200"
                            >
                                Write Your Dream Book with Us!
                            </h2>
                            <h2
                                    data-aos="zoom-in-up"
                                    data-aos-duration="1000"
                                    data-aos-delay="250"
                            >
                                At iPatchwork Éditions Publishing, we're your full-service book partner.
                                we're here for you. Connect with us today and embark on your publishing journey!
                                <br/>
                                <div
                                        class="section-divider divider-traingle"
                                        data-aos="fade-up"
                                        data-aos-duration="1000"
                                        data-aos-delay="250"
                                ></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div
                            class="col-lg-8 col-md-6 col-sm-12 m-25px-b"
                            data-aos="fade-right"
                            data-aos-duration="1000"
                            data-aos-delay="200"
                    >
                        <div class="contact-form-box">
                            <form id="contact-form" method="post" action="php/sendmail.php' %}">
                                <div class="message col">
                                    <p class="email-loading alert alert-warning">
                                        <img
                                                src="{% static 'assets/images/loading.gif' %}"
                                                alt=""
                                        />&nbsp;&nbsp;&nbsp;Sending...
                                    </p>
                                    <p class="email-success alert alert-success">
                                        <i class="icon icon-icon-check-alt2"></i> Your quote has
                                        successfully been sent.
                                    </p>
                                    <p class="email-failed alert alert-danger">
                                        <i class="icon icon-icon-close-alt2"></i> Something went
                                        wrong!
                                    </p>
                                </div>
                                <div class="mb13">
                                    <input
                                            name="name"
                                            class="contact-name"
                                            id="contact-name"
                                            type="text"
                                            placeholder="Your Name"
                                            required=""
                                    />
                                </div>
                                <div class="mb13">
                                    <input
                                            name="email"
                                            class="contact-email"
                                            id="contact-email"
                                            type="email"
                                            placeholder="Your Email"
                                            required=""
                                    />
                                </div>
                                <div class="mb13">
                                    <input
                                            name="subject"
                                            class="contact-subject"
                                            id="contact-subject"
                                            type="text"
                                            placeholder="Subject"
                                            required=""
                                    />
                                </div>
                                <div class="mb30">
                    <textarea
                            name="message"
                            class="contact-message"
                            id="contact-message"
                            placeholder="Your Message"
                            required=""
                    ></textarea>
                                </div>
                                <button class="button button__primary align-items-center">
                                    <span>Send Now</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- End contact form area-->
                    <div
                            class="col-lg-4 col-md-6 col-sm-12 m-25px-b"
                            data-aos="fade-left"
                            data-aos-duration="1000"
                            data-aos-delay="200"
                    >
                        <div class="contact__address p-30px">
                            <ul class="contact__address__content">
                                <li>
                                    <span>Address:</span>11065 wood haven rd <br/>
                                    Johnstown OH 43031
                                </li>
                                <li>
                                    <span>Phone:</span><a href="tel:6145628583">6145628583</a>
                                </li>
                                <li>
                                    <span>Email:</span><a href="#">hello@i-patchwork.com</a>
                                </li>
                            </ul>
                            <h4>Connect book socials</h4>
                            <ul class="social-icon mt-3">
                                <li>
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-whatsapp"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== Contact section end ========== -->

        {% include 'footer.html' %}
</div>

{% endblock %}
