{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>iPatchWork Publication | Premier Book Writing Services</title>
    <meta name="description" content="iPatchWork Publication offers top-tier book writing services. Our expert team ensures your book becomes a bestseller. Get in touch with us today!">
    <meta name="keywords" content="publishing company, authors, readers, book publishing, Patchwork Editions">
</head>

<div class="section-wrapper">
    <!-- ========== Preloader start ========== -->
    <div id="preLoader"></div>
    <!-- ========== Preloader end ========== -->

    {% include 'header.html' %}

    <!-- ========== All blogs hero start ========== -->
    <section
            id="single-events"
            class="all-blogs hero__padding overflow-hidden position-relative bg-one"
    >
        <div class="container">
            <div class="row">
                <div class="blog-title">
                    <h1
                            class="display-3"
                            data-aos="fade-up"
                            data-aos-duration="1000"
                            data-aos-delay="600"
                    >
                        iPatchwork Publishing Goes to Las Vegas for WFG
                    </h1>
                    <ul>
                        <li
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="650"
                        >
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="700"
                        >
                            <i class="icofont-rounded-right"></i>
                        </li>
                        <li
                                data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-delay="750"
                        >
                            Single Event
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== All blogs hero end ========== -->
    <!-- ========== Details Right Sidebar start ========== -->
    <section class="section-padding single-event">
        <div class="container">
            <div class="row">
                <div
                        class="col-lg-8 mb-4 mb-md-0"
                        data-aos="fade-right"
                        data-aos-duration="1000"
                        data-aos-delay="700"
                >
                    <div class="single-event__area">
                        <div class="single-event__area__image">
                            <img
                                    class="img-fluid"
                                    src="{% static 'assets/images/events/Screen Shot 2024-07-06 at 5.44.51 PM.png' %}"
                                    alt="wfgconvention"
                            />
                        </div>
                        <div class="single-event__area__menu">
                            <h2 class="fs-2">WFG Life Changers, It’s Time to Publish Your Legacy!</h2>
                            <p>
                                <strong>Join the Ranks of Influential Authors</strong><br>
                                Share Your Incredible Journey with the World
                            </p>
                            <p>
                                As a member of World Financial Group, you’ve transformed lives with your expertise and leadership. Now, it's time to turn your story into a powerful book that inspires and educates others.
                            </p>
                            <h3>Why Publish Your Book?</h3>
                            <p>
                                <strong>Amplify Your Influence:</strong> Reach a wider audience and establish yourself as an authority in the financial industry.
                            </p>
                            <p>
                                <strong>Inspire Others:</strong> Share your unique experiences and insights to motivate and guide others on their journey.
                            </p>
                            <p>
                                <strong>Leave a Lasting Legacy:</strong> Create a lasting impact that extends beyond your immediate network.
                            </p>
                            <h3>No Time to Write? No Problem!</h3>
                            <p>
                                Picture this: becoming a published author with just a few minutes of your time. All we need are your answers to three simple questions, and our team of professional writers will take it from there. They will craft your story into a captivating book that perfectly showcases your unique journey and insights. Let us transform your experiences into a powerful narrative that will inspire and influence others.
                            </p>
                            <div class="single-event__area__social">
                                <h2 class="fs-4">Share the event</h2>
                                <ul class="social-icon my-4">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icofont-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icofont-youtube-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icofont-whatsapp"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        id="right"
                        class="col-lg-4"
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        data-aos-delay="700"
                >
                    <div class="single-event__sidebar">
                        <h3 class="item-border text-center">Event Details</h3>
                        <div class="single-event__sidebar__details item-border">
                            <ul>
                                <li>
                                    <i class="icofont-calendar"></i>
                                    <div>
                                        <p class="para-1">Date</p>
                                        <p class="para-2">July 15, 2024</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    <div>
                                        <p class="para-1">Location</p>
                                        <p class="para-2"><a href="#">Las Vegas</a></p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icofont-location-arrow"></i>
                                    <div>
                                        <p class="para-1">Venue</p>
                                        <p class="para-2">WFG Convention Center</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icofont-user-alt-3"></i>
                                    <div>
                                        <p class="para-1">Organizer</p>
                                        <p class="para-2">iPatchWork Publishing</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <a href="https://www.i-patchwork.com/wfgconvention" class="button button__primary"
                            ><span>Learn More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== Details Right Sidebar end ========== -->
    {% include 'footer.html' %}
</div>

{% endblock %}
